@{
    ViewData["Title"] = "Home Page";
}
<div class="acortador-form-wrap">    
<section class="acortador-form">
    <h2>Ingrese su enlace a continuación y acorte.</h2>
    <div class="input-wrap">
        <input type="text" name="url" id="urlshort" placeholder="ACORTAR URL" />
        <button id="submit">Acortar</button>
    </div>
    <a href="/" class="card-link">Volver</a>
    <div class="resp-area inactive" id="resp-area">

    </div>
</section>
</div>
